@media screen and (max-width: 768px) {
    header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.navbar {
		flex-direction: row;
	}
	.navbar a {
		display: block;
		flex: 2 1 100%;
	}
	#menu {
        display: none;
    }

    .vision {
        position: relative;
        width: 90%;
        top: auto;
        left: auto;
        right: auto;
        margin: 1rem auto;
        padding: 10px;
    }
    
    .mission {
        position: relative;
        width: 90%;
        top: 1rem;
        left: auto;
        right: auto;
        margin: 1rem auto;
        padding: 10px;
    }
    .abt {
        position: relative;
        width: 30rem;
        top: -4rem;
        left: auto;
        right: auto;
        margin: 1rem auto;
        padding: 10px;
    }
    .gh {
        position: relative;
        width: 30rem;
        top: 20rem;
        right: 30rem;
        margin: 1rem auto;
        padding: 10px;
    }
    .get-int {
        position: relative;
        width: 30rem;
        top: 12rem;
        right: 2rem;
        margin: 1rem auto;
        padding: 10px;
    }
    .info h2 {
        background-color: var(--secondary-color);
        padding: 10px;
        margin-bottom: 20px;
        color: rgb(15, 15, 15);
        border: 8px solid rgba(8, 8, 8, 0.1);
        width: 200px;
        position: relative;
        right: 20px;
    }
    .info p {
        display: block;
        padding: 1rem;
        text-align: left;
        margin-right: 5rem;
        font-size: 4px;
    }
    .cta-button {
        position: relative;
        top: 1rem;
        right: 0.5rem;
        margin: 1rem;
        background-color: rgb(27, 53, 58);
        color: #eee8ee;
        border: none;
        border-radius: 0.2rem;
        padding: 1rem;
        font-size: 1rem;
        text-decoration: none;
    }
    .cta-button:hover {
        background-color: #0056b3;
    }


}



/* Mobile Styles */
@media (max-width: 768px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .navbar li {
        margin-bottom: 10px;
    }

    .hero picture img {
        width: 100%;
        height: auto;
    }

    .resources {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .resources figure {
        width: 100%;
        text-align: center;
    }
}

/* Tablet Styles */
@media (min-width: 769px) and (max-width: 1024px) {
    .container {
        padding: 15px;
    }

    .resources {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .resources figure {
        width: 45%;
    }
}

/* Large Screens */
@media (min-width: 1025px) {
    .container {
        max-width: 90%;
    }

    .resources {
        display: flex;
        justify-content: space-between;
    }

    .resources figure {
        width: 22%;
    }
}