@media (max-width: 480px) {
    .temple-container {
      grid-template-columns: 1fr;
    }
  
    .temple-card h2 {
      font-size: 1rem;
    }
  
    .temple-card p {
      font-size: 0.8rem;
    }
  }
  
  @media (max-width: 768px) {
    .filters {
      flex-direction: column;
    }
  
    .temple-container {
      grid-template-columns: 1fr 1fr;
    }
  
    .temple-card h2 {
      font-size: 1.2rem;
    }
  
    .temple-card p {
      font-size: 0.9rem;
    }
  }
  
  