* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Lato", serif;
    font-weight: 700;
}

/* mobile **************************/
header {
	background-color: #ab56db;
	display: grid;
	grid-gap: 1rem;
	padding: 2px;
	border: 1px solid rgba(26, 28, 31, 0.1);
	box-shadow: 0 0 30px #6a4691;
}

header,main {
	margin: 0 auto;
}

h1 {
	font-size: 2rem;
	color: rgb(9 18 18);
}

#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: #000;
	position: absolute;
	top: 1rem;
	right: 1rem;
}

#menu::before {
	content: "☰";
}
#menu.open::before {
	content: "❌";
}

nav {
	display: flex;
	flex-direction: column;
}
.navbar {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	list-style: none;
	color: #fff;
}
.navbar a {
	display: none;
	padding: 1rem;
	text-align: left;
	text-decoration: none;
	color: rgb(10, 6, 6);
}
.navbar a:hover {
	background-color: #464fd3;
	color: rgb(12, 11, 12);
	font-weight: 700;
}

.open a {
	display: block;
}

main { 
    max-width: 800px;
    margin: 0 auto;
  }
h2 {
    text-align: center;
	text-decoration: none;
	margin: 30px;
	font-size: 40px;
}  

.temples {
	display:grid; 
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
	grid-gap: 25px;
	place-items: center;
}

figure {
	background-color:#fff;
}
img { 
	margin: 0.5rem;
}
figcaption {
	font-size: smaller;
	text-align: center;
	color: rgb(22, 25, 201);
}

footer {
	text-align: center;
    background-color: rgb(53, 20, 20);
    color: white;
    padding: 10.1px;
    width: 100%;
}
